In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
import openpyxl
import matplotlib.pyplot as plt
%matplotlib inline

### This script followes the next steps:
1. Retrieve unique values included in Amsterdam raw data
2. Calculate total population for each year per country
3. Remove empty entries creating new xlsx in process00
4. Rename the attributes based on DST/UNSD abbreviations storing each new file in process01
5. Rename sum file with names with DST/UNSD abbreviations

In [2]:
city="ams"
base_dir = os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath("__file__"))))
# Paths for the Population Data --------------------------------------------------------------
#path to ancillary data folder
ancillary_data_folder_path = base_dir + "/data_prep/{}_Projectdata/AncillaryData".format(city)
ancillary_POPdata_folder_path = base_dir + "/data_prep/{}_Projectdata/PopData".format(city)
image_path= base_dir + "/data_prep/{}_Projectdata/PopData/images".format(city)
years_list=[2006,2008,2010,2012,2014,2016,2018] #1992,1994,1996,1998,2000,2002,2004,

### 1. Get list of unique attributes in all files

In [5]:
years_list=[1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018]
file_path = ancillary_POPdata_folder_path + "/rawData/nidi/nidi1992.xlsx"
df = pd.read_excel(file_path, header=0, skiprows=2 )
colList = df.columns.tolist()

for year in years_list:
    pathI = ancillary_POPdata_folder_path + "/rawData/nidi/nidi{}.xlsx".format(year)
    dfI = pd.read_excel(pathI, header=0, skiprows=2 )
    unique = [x for x in dfI.columns if x not in colList and (colList.append(x) or True)]
#print(colList)

['grid_id', 'TOTALPOP', 'CHILDREN', 'STUDENTS', 'MOBILE_ADULTS', 'NOT_MOBILE_ADULTS', 'ELDERLY', 'IMMIGRANTS', 'EU_EFTA_IMMIGRANTS', 'NON_EU_EFTA_IMMIGRANTS', 'BIRTHS', 'DEATHS', 'PEOPLE_WHO_MOVED_OUT_OF_GRID', 'IMMIGRANTS_INTO_NETHERLANDS', 'PEOPLE_WHO_MOVED_INTO_GRID', 'IMMIGRANTS_OUTOF_NETHERLANDS', 'VERHUIS_IN_AMS_OUTOF', 'VERHUIS_IN_AMS_INTO', 'NOT_USED_DWELLINGS', 'LET_OUT_DWELLINGS', 'PRIVATELY_OWNED_DWELLINGS', 'TOTAL_AREA_OF_RESIDENCE', 'NUMBER_OF_DWELLINGS', 'NUMBER_OF_ROOMS', 'Unnamed: 24', 'Aden', 'Afghanistan', 'Albanië', 'Algerije', 'Angola', 'Anguilla', 'Argentinië', 'Aruba', 'Australië', 'Australisch Nieuw-Guinea', "Bahama's", 'Bahrein', 'Bangladesh', 'Barbados', 'Bechuanaland', 'België', 'Belgisch-Congo', 'Benin', 'Bermuda', 'Bolivia', 'Bondsrepubliek Duitsland', 'Botswana', 'Brazilië', 'Brits Oost-Afrika', 'Brits West-Indië', 'Brits-Borneo', 'Britse Antillen', 'Britse Maagdeneilanden', 'Brits-Guyana', 'Brits-Honduras', 'Brits-Indië', 'Brits-Somaliland', 'Brunei', 'Bulgarije', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodja', 'Canada', 'Canarische Eilanden', 'Centraal-Afrikaanse Republiek', 'Ceylon', 'Chili', 'China', 'Colombia', 'Comoren', 'Congo', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Costa Rica', 'Cuba', 'Cyprus', 'Dahomey', 'Dantzig', 'Denemarken', 'Djibouti', 'Dominica', 'Dominicaanse Republiek', 'Duitse Democratische Republiek', 'Duitsland', 'Ecuador', 'Egypte', 'El Salvador', 'Eritrea', 'Estland', 'Ethiopië', 'Faeröer', 'Fiji', 'Filipijnen', 'Finland', 'Frankrijk', 'Frans Equatoriaal-Afrika', 'Frans Indochina', 'Frans West-Afrika', 'Frans-Congo', 'Frans-Guyana', 'Frans-Kameroen', 'Frans-Somaliland', 'Gabon', 'Gambia', 'Ghana', 'Gibraltar', 'Goa', 'Goudkust', 'Grenada', 'Griekenland', 'Groot-Brittannië', 'Guadeloupe', 'Guatemala', 'Guinee', 'Guinee-Bissau', 'Guyana', 'Haïti', 'Hawaii-eilanden', 'Honduras', 'Hongarije', 'Hongkong', 'Ierland', 'IJsland', 'India', 'Indonesië', 'Irak', 'Iran', 'Israël', 'Italiaans-Somaliland', 'Italië', 'Ivoorkust', 'Jamaica', 'Japan', 'Joegoslavië', 'Jordanië', 'Kaapverdië', 'Kameroen', 'Kanaaleilanden', 'Kenya', 'Koeweit', 'Korea', 'Laos', 'Leewardeilanden', 'Lesotho', 'Letland', 'Libanon', 'Liberia', 'Libië', 'Litouwen', 'Luxemburg', 'Macau', 'Madagaskar', 'Madeira-eilanden', 'Malakka', 'Malawi', 'Maldiven', 'Maleisië', 'Mali', 'Malta', 'Marokko', 'Martinique', 'Mauritanië', 'Mauritius', 'Mayotte', 'Mexico', 'Monaco', 'Mongolië', 'Mozambique', 'Muscat en Oman', 'Nederland', 'Nederlands Nieuw-Guinea', 'Nederlandse Antillen', 'Nederlands-Indië', 'Nepal', 'Nicaragua', 'Nieuwe Hebriden', 'Nieuw-Zeeland', 'Niger', 'Nigeria', 'Noord-Jemen', 'Noord-Rhodesië', 'Noord-Vietnam', 'Noorwegen', 'Nyasaland', 'Oman', 'Onbekend', 'Oostenrijk', 'Oostenrijk-Hongarije', 'Opper-Volta', 'Pakistan', 'Palestina', 'Panama', 'Paraguay', 'Peru', 'Polen', 'Portugal', 'Portugees Oost-Afrika', 'Portugees West-Afrika', 'Portugees-Afrika', 'Portugees-Indië', 'Portugees-Timor', 'Puerto Rico', 'Réunion', 'Rhodesië', 'Roemenië', 'Ruanda-Urundi', 'Rusland (oud)', 'Rwanda', 'Saint Kitts en Nevis', 'Saint Lucia', 'Saoedi-Arabië', 'Sarawak', 'Senegal', 'Seychellen', 'Seychellen en Amiranten', 'Siam', 'Sierra Leone', 'Singapore', 'Sint-Helena', 'Soedan', 'Somalië', 'Sovjet-Unie', 'Spaanse Sahara', 'Spanje', 'Sri Lanka', 'Straits Settlements', 'Suriname', 'Swaziland', 'Syrië', 'Taiwan', 'Tanganyika', 'Tanzania', 'Thailand', 'Tibet', 'Togo', 'Tonga', 'Transjordanië', 'Trinidad en Tobago', 'Tsjaad', 'Tsjecho-Slowakije', 'Tunesië', 'Turkije', 'Uganda', 'Uruguay', 'Venezuela', 'Verenigde Arabische Emiraten', 'Verenigde Staten van Amerika', 'Vietnam', 'Zaïre', 'Zambia', 'Zanzibar', 'Zimbabwe', 'Zuid-Afrika', 'Zuid-Arabische Federatie', 'Zuid-Korea', 'Zuid-Rhodesië', 'Zuid-Vietnam', 'Zuidwest-Afrika', 'Zweden', 'Zwitserland', 'grid_geometry_epsg3035', 'grid_geometry_epsg28992', 'Amerikaanse Maagdeneilanden', "Frans Territorium voor Afars en Issa's", 'Groenland', 'Guam', 'Internationaal gebied;', 'Kaapverdische Eilanden', 'Kroatië', 'Namibië', 'Nieuw-Caledonië', 'Papoea-Nieuw-Guinea', 'Qatar', 'Rusland', 'Slovenië', 'Spaans-Guinee', 'Tsjechië', 'West-Samoa', 'Abu Dhabi', 'Azoren', 'Basutoland', 'Bosnië-Herzegovina', 'Brits West-Borneo', 'Brits-Afrika', 'Brits-Kameroen', 'Cabinda', 'Georgië', 'Gilbert- en Ellice-eilanden', 'Jemen', 'Oekraïne', 'São Tomé en Principe', 'Spaans Noord-Afrika', 'Zuid-Jemen', 'Belarus', 'Cookeilanden', 'Federale Republiek Joegoslavië', 'Frans-Polynesië', 'Liechtenstein', 'Macedonië', 'Oezbekistan', 'Portugees-Guinee', 'Saint Vincent', 'Verenigde Arabische Republiek', 'Armenië', 'Azerbeidzjan', 'Frans-Indië', 'Montserrat', 'Myanmar', 'Noord-Korea', 'Panamakanaalzone', 'Westelijke Sahara', 'Andorra', 'Antigua en Barbuda', 'Bhutan', 'Democratische Republiek Congo', 'Kazachstan', 'Kirgizië', 'Tasmanië', 's', 's.1', 's.2', 's.3', 's.4', 's.5', 's.6', 's.7', 's.8', 's.9', 's.10', 's.11', 's.12', 's.13', 's.14', 's.15', 's.16', 's.17', 's.18', 's.19', 's.20', 's.21', 's.22', 's.23', 's.24', 's.25', 's.26', 's.27', 's.28', 's.29', 's.30', 's.31', 's.32', 's.33', 's.34', 's.35', 's.36', 's.37', 's.38', 's.39', 's.40', 's.41', 's.42', 's.43', 's.44', 's.45', 's.46', 's.47', 's.48', 's.49', 's.50', 's.51', 's.52', 's.53', 's.54', 's.55', 's.56', 's.57', 's.58', 's.59', 's.60', 's.61', 's.62', 's.63', 's.64', 's.65', 's.66', 's.67', 's.68', 's.69', 's.70', 's.71', 's.72', 's.73', 's.74', 's.75', 's.76', 's.77', 's.78', 's.79', 's.80', 's.81', 's.82', 's.83', 's.84', 's.85', 's.86', 's.87', 's.88', 's.89', 's.90', 's.91', 's.92', 's.93', 's.94', 's.95', 's.96', 's.97', 's.98', 's.99', 's.100', 's.101', 's.102', 's.103', 's.104', 's.105', 's.106', 's.107', 's.108', 's.109', 's.110', 's.111', 's.112', 's.113', 's.114', 's.115', 's.116', 's.117', 's.118', 's.119', 'Belize', 'Brits Noord-Borneo', 'Caymaneilanden', 'Servië en Montenegro', 'Slowakije', 'Antigua', 'Moldavië', 'Urundi', 'Equatoriaal-Guinea', 'Salomonseilanden', 'Servië', 'Tadzjikistan', 'Duits Oost-Afrika', 'Duits Zuidwest-Afrika', 'Falklandeilanden', 'Man', 'Saint Kitts, Nevis en Anguilla', 'Saint Vincent en de Grenadines', 'Samoa', 'Bonaire', 'Curaçao', 'Sint Maarten', 'Kosovo', 'Turkmenistan', 'Brits Indische Oceaanterritorium', 'Palau', 'Vanuatu', 'Amerikaans-Samoa', 'Sint Eustatius', 'Tristan Da Cunha', 'Zuid-Soedan']

In [6]:
## Save the unique values in excel
select_df = pd.DataFrame(colList, columns=["UniqueAttributes"])
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/EXCEL/00UniqueAttributes.xlsx",  index = False,  header=True)
# Convert the dataframe to an XlsxWriter Excel object.
select_df.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

### Create new dataframe to store the sums of attributes per year

In [7]:
#Remove the standard columns from the unique Attributes and write file
selectList = ['grid_id','grid_geometry_epsg3035','grid_geometry_epsg28992'] 
select = [x for x in colList if not x in selectList]

In [10]:
frame = pd.DataFrame(columns=select)
year = ['1992','1994','1996','1998','2000','2002','2004','2006','2008','2010','2012','2014','2016','2018']
frame['Year'] = year

In [11]:
nframe= frame.set_index('Year')
print(frame)

   TOTALPOP CHILDREN STUDENTS MOBILE_ADULTS NOT_MOBILE_ADULTS ELDERLY  \
0       NaN      NaN      NaN           NaN               NaN     NaN
1       NaN      NaN      NaN           NaN               NaN     NaN
2       NaN      NaN      NaN           NaN               NaN     NaN
3       NaN      NaN      NaN           NaN               NaN     NaN
4       NaN      NaN      NaN           NaN               NaN     NaN
5       NaN      NaN      NaN           NaN               NaN     NaN
6       NaN      NaN      NaN           NaN               NaN     NaN
7       NaN      NaN      NaN           NaN               NaN     NaN
8       NaN      NaN      NaN           NaN               NaN     NaN
9       NaN      NaN      NaN           NaN               NaN     NaN
10      NaN      NaN      NaN           NaN               NaN     NaN
11      NaN      NaN      NaN           NaN               NaN     NaN
12      NaN      NaN      NaN           NaN               NaN     NaN
13      NaN      NaN      NaN           NaN               NaN     NaN

   IMMIGRANTS EU_EFTA_IMMIGRANTS NON_EU_EFTA_IMMIGRANTS BIRTHS  ... Kosovo  \
0         NaN                NaN                    NaN    NaN  ...    NaN
1         NaN                NaN                    NaN    NaN  ...    NaN
2         NaN                NaN                    NaN    NaN  ...    NaN
3         NaN                NaN                    NaN    NaN  ...    NaN
4         NaN                NaN                    NaN    NaN  ...    NaN
5         NaN                NaN                    NaN    NaN  ...    NaN
6         NaN                NaN                    NaN    NaN  ...    NaN
7         NaN                NaN                    NaN    NaN  ...    NaN
8         NaN                NaN                    NaN    NaN  ...    NaN
9         NaN                NaN                    NaN    NaN  ...    NaN
10        NaN                NaN                    NaN    NaN  ...    NaN
11        NaN                NaN                    NaN    NaN  ...    NaN
12        NaN                NaN                    NaN    NaN  ...    NaN
13        NaN                NaN                    NaN    NaN  ...    NaN

   Turkmenistan Brits Indische Oceaanterritorium Palau Vanuatu  \
0           NaN                              NaN   NaN     NaN
1           NaN                              NaN   NaN     NaN
2           NaN                              NaN   NaN     NaN
3           NaN                              NaN   NaN     NaN
4           NaN                              NaN   NaN     NaN
5           NaN                              NaN   NaN     NaN
6           NaN                              NaN   NaN     NaN
7           NaN                              NaN   NaN     NaN
8           NaN                              NaN   NaN     NaN
9           NaN                              NaN   NaN     NaN
10          NaN                              NaN   NaN     NaN
11          NaN                              NaN   NaN     NaN
12          NaN                              NaN   NaN     NaN
13          NaN                              NaN   NaN     NaN

   Amerikaans-Samoa Sint Eustatius Tristan Da Cunha Zuid-Soedan  Year
0               NaN            NaN              NaN         NaN  1992
1               NaN            NaN              NaN         NaN  1994
2               NaN            NaN              NaN         NaN  1996
3               NaN            NaN              NaN         NaN  1998
4               NaN            NaN              NaN         NaN  2000
5               NaN            NaN              NaN         NaN  2002
6               NaN            NaN              NaN         NaN  2004
7               NaN            NaN              NaN         NaN  2006
8               NaN            NaN              NaN         NaN  2008
9               NaN            NaN              NaN         NaN  2010
10              NaN            NaN              NaN         NaN  2012
11              NaN            NaN              NaN         NaN  2014
12              NaN            NaN              NaN         NaN  2016
13              NaN            NaN              NaN         NaN  2018

[14 rows x 468 columns]

In [16]:
for year in years_list:
    pathI = ancillary_POPdata_folder_path + "/rawData/nidi/nidi{}.xlsx".format(year)
    dfI = pd.read_excel(pathI, header=0, skiprows=2 )
    for x in select: 
        if x in dfI.columns:
            nframe.at['{}'.format(year), x ] = dfI['{}'.format(x)].sum()
        else:
            nframe.at['{}'.format(year), x ] = 0

In [17]:
print(nframe.head(5))

     TOTALPOP CHILDREN STUDENTS MOBILE_ADULTS NOT_MOBILE_ADULTS ELDERLY  \
Year
1992   719923   139564   154253        191592            134534   99980
1994   722350   143285   144336        198493            139333   96903
1996   715063   144418   134375        199987            142936   93347
1998   727095   148286   132247        206379            149416   90767
2000   734540   151474   125589        212972            156425   88080

     IMMIGRANTS EU_EFTA_IMMIGRANTS NON_EU_EFTA_IMMIGRANTS BIRTHS  ...  \
Year                                                              ...
1992      47397              22608                 148276  12427  ...
1994      47939              22070                 153522  12681  ...
1996      52367              19577                 152211  12168  ...
1998      59441              20818                 160178  13218  ...
2000      68862              22114                 167582  13761  ...

     Sint Maarten Kosovo Turkmenistan Brits Indische Oceaanterritorium Palau  \
Year
1992            0      0            0                                0     0
1994            0      0            0                                0     0
1996            0      0            0                                0     0
1998            0      0            0                                0     0
2000            0      0            0                                0     0

     Vanuatu Amerikaans-Samoa Sint Eustatius Tristan Da Cunha Zuid-Soedan
Year
1992       0                0              0                0           0
1994       0                0              0                0           0
1996       0                0              0                0           0
1998       0                0              0                0           0
2000       0                0              0                0           0

[5 rows x 467 columns]

In [18]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/EXCEL/sum.xlsx",  index = False,  header=True)
# Convert the dataframe to an XlsxWriter Excel object.
nframe.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

### Remove the empty entries and write new xlsx files in process00

In [19]:
removeCountries = []
for i in nframe.columns:  
    sum = nframe['{}'.format(i)].sum()
    #print(i,sum)
    if sum==0:
        removeCountries.append(i)

In [20]:
removeCountries_df = pd.DataFrame(removeCountries, columns=["EmptyEntries"])
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/EXCEL/00EmptyEntries.xlsx",  index = False,  header=True)
# Convert the dataframe to an XlsxWriter Excel object.
removeCountries_df.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [22]:
for year in years_list:
    pathI = ancillary_POPdata_folder_path + "/rawData/nidi/nidi{}.xlsx".format(year)
    dfI = pd.read_excel(pathI, header=0, skiprows=2)
    #select_new = dfI.copy
    for i in removeCountries:
        if i in dfI.columns:
            dfI.drop('{}'.format(i), inplace=True, axis=1)
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/process00/{}.xlsx".format(year),  index = False,  header=True)
    # Convert the dataframe to an XlsxWriter Excel object.
    dfI.to_excel(writer, sheet_name='Sheet1')
    # Close the Pandas Excel writer and output the Excel file.
    writer.save()

In [23]:
# Read 2 xlsx files and rmove empty  entries
empty = pd.read_excel(ancillary_POPdata_folder_path + "/EXCEL/00EmptyEntries.xlsx", usecols=['EmptyEntries'])
unique = pd.read_excel(ancillary_POPdata_folder_path + "/EXCEL/00UniqueAttributes.xlsx", usecols=['UniqueAttributes'] )
cond = unique['UniqueAttributes'].isin(empty['EmptyEntries'])
unique.drop(unique[cond].index, inplace = True)

     UniqueAttributes
0             grid_id
1            TOTALPOP
2            CHILDREN
3            STUDENTS
4       MOBILE_ADULTS
..                ...
465           Vanuatu
466  Amerikaans-Samoa
467    Sint Eustatius
468  Tristan Da Cunha
469       Zuid-Soedan

[349 rows x 1 columns]

In [24]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/EXCEL/00codes.xlsx",  index = False,  header=True)
# Convert the dataframe to an XlsxWriter Excel object.
unique.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [31]:
# Read 2 xlsx files and rmove empty  entries
codesNew = pd.read_excel(ancillary_POPdata_folder_path + "/EXCEL/codes.xlsx")
unsd = pd.read_excel(ancillary_POPdata_folder_path + "/EXCEL/unsd.xlsx" )
condNew = unsd['abbr'].isin(codesNew['abbr'])
unsd.drop(unsd[condNew].index, inplace = True)
print(unsd)

     Unnamed: 0                                       country   code abbr  \
17           17                   French Southern Territories  260.0  ATF
69           69              Bonaire, Sint Eustatius and Saba  535.0  BES
83           83                              Saint Barthélemy  652.0  BLM
88           88                     Sint Maarten (Dutch part)  534.0  SXM
90           90                      Turks and Caicos Islands  796.0  TCA
103         103                                 Bouvet Island   74.0  BVT
113         113  South Georgia and the South Sandwich Islands  239.0  SGS
120         120                     Saint Pierre and Miquelon  666.0  SPM
143         143                                   Timor-Leste  626.0  TLS
175         175                                 Åland Islands  248.0  ALA
176         176                                      Guernsey  831.0  GGY
177         177                                        Jersey  832.0  JEY
181         181                Svalbard and Jan Mayen Islands  744.0  SJM
186         186                                      Holy See  336.0  VAT
187         187                                    Montenegro  499.0  MNE
189         189                                    San Marino  674.0  SMR
192         192                              Christmas Island  162.0  CXR
193         193                       Cocos (Keeling) Islands  166.0  CCK
194         194             Heard Island and McDonald Islands  334.0  HMD
196         196                                Norfolk Island  574.0  NFK
203         203                                      Kiribati  296.0  KIR
204         204                              Marshall Islands  584.0  MHL
205         205              Micronesia (Federated States of)  583.0  FSM
206         206                                         Nauru  520.0  NRU
207         207                      Northern Mariana Islands  580.0  MNP
209         209          United States Minor Outlying Islands  581.0  UMI
213         213                                          Niue  570.0  NIU
214         214                                      Pitcairn  612.0  PCN
216         216                                       Tokelau  772.0  TKL
218         218                                        Tuvalu  798.0  TUV
219         219                     Wallis and Futuna Islands  876.0  WLF

                              region continent  eu
17                Sub-Saharan Africa    Africa  no
69   Latin America and the Caribbean  Americas  no
83   Latin America and the Caribbean  Americas  no
88   Latin America and the Caribbean  Americas  no
90   Latin America and the Caribbean  Americas  no
103  Latin America and the Caribbean  Americas  no
113  Latin America and the Caribbean  Americas  no
120                 Northern America  Americas  no
143               South-eastern Asia      Asia  no
175                  Northern Europe    Europe  no
176                  Northern Europe    Europe  no
177                  Northern Europe    Europe  no
181                  Northern Europe    Europe  no
186                  Southern Europe    Europe  no
187                  Southern Europe    Europe  no
189                  Southern Europe    Europe  no
192        Australia and New Zealand   Oceania  no
193        Australia and New Zealand   Oceania  no
194        Australia and New Zealand   Oceania  no
196        Australia and New Zealand   Oceania  no
203                       Micronesia   Oceania  no
204                       Micronesia   Oceania  no
205                       Micronesia   Oceania  no
206                       Micronesia   Oceania  no
207                       Micronesia   Oceania  no
209                       Micronesia   Oceania  no
213                        Polynesia   Oceania  no
214                        Polynesia   Oceania  no
216                        Polynesia   Oceania  no
218                        Polynesia   Oceania  no
219                        Polynesia   Oceania  no

### 4. Rename the attributes based on DST & ISO abbreviations for each excel file
----- Manual Processing the file of Unique Attributes to create abbreviations -----

In [3]:
for year in years_list:
    pathI = ancillary_POPdata_folder_path + "/process00/{}.xlsx".format(year)
    dfI = pd.read_excel(pathI, header=0)
    ndf = dfI.iloc[: , 1:-1].drop(dfI.index[0]) #
    print(ndf.head(2))

    code_path = ancillary_POPdata_folder_path + "/EXCEL/codes.xlsx"
    codes = pd.read_excel(code_path, header=0)
    print(codes)

    df1 = ndf.rename(columns=codes.set_index('land_nld')['l10_abbr'])
    print (df1.head(4))
    print("------------------------------ Creating xlsx:{0} ------------------------------".format(year))
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/process01/{}.xlsx".format(year),  index = False,  header=True)
    # Convert the dataframe to an XlsxWriter Excel object.
    df1.to_excel(writer, sheet_name='Sheet1')
    # Close the Pandas Excel writer and output the Excel file.
    writer.save()

   grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                 TOTALPOP
4                        yes                      ABW
..                       ...                      ...
344                      NaN        NOT_MOBILE_ADULTS
345                      NaN                  ELDERLY
346                      NaN               IMMIGRANTS
347                      NaN            EU_IMMIGRANTS
348                      NaN         NONEU_IMMIGRANTS

                     country                       eu
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                      NaN
4                      Aruba                       no
..                       ...                      ...
344                      NaN                      NaN
345                      NaN                      NaN
346                      NaN                      NaN
347                      NaN                      NaN
348                      NaN                      NaN

[349 rows x 8 columns]
   grid_id  L1_TOTALPOP  L2_CHILDREN  L3_STUDENTS  L4_MOBILE_ADULTS  \
1     3267            1            0            0                 0
2     3455            2            0            0                 0
3     3456            4            2            0                 0
4     3824            1            0            0                 0

   L5_NOT_MOBILE_ADULTS  L6_ELDERLY  L7_IMMIGRANTS  L8_EU_IMMIGRANTS  \
1                     1           0              0                 0
2                     1           1              0                 0
3                     2           0              0                 0
4                     1           0              0                 0

   L9_NONEU_IMMIGRANTS  ...  L10_ZWE  L10_ZAF  L30_YEM_YEM  L10_KOR  \
1                    0  ...      NaN      NaN          NaN      NaN
2                    0  ...      NaN      NaN          NaN      NaN
3                    0  ...      NaN      NaN          NaN      NaN
4                    0  ...      NaN      NaN          NaN      NaN

   L30_STH_RHO  L30_STH_VNM  L30_DEU_NAM  L10_SWE  L10_CHE  \
1          NaN          NaN          NaN      NaN      NaN
2          NaN          NaN          NaN      NaN      NaN
3          NaN          NaN          NaN      NaN      NaN
4          NaN          NaN          NaN      NaN      NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...
3  MULTIPOLYGON (((3963800 3267500, 3963900 32675...
4  MULTIPOLYGON (((3964000 3268700, 3964100 32687...

[4 rows x 320 columns]
------------------------------ Creating xlsx:2012 ------------------------------
   grid_id  TOTALPOP  CHILDREN  STUDENTS  MOBILE_ADULTS  NOT_MOBILE_ADULTS  \
1     3267         1         0         0              0                  1
2     3455         2         0         0              0                  0

   ELDERLY  IMMIGRANTS  EU_EFTA_IMMIGRANTS  NON_EU_EFTA_IMMIGRANTS  ...  \
1        0           0                   0                       0  ...
2        2           0                   0                       0  ...

   Zimbabwe  Zuid-Afrika  Zuid-Jemen  Zuid-Korea  Zuid-Rhodesië  Zuid-Vietnam  \
1       NaN          NaN         NaN         NaN            NaN           NaN
2       NaN          NaN         NaN         NaN            NaN           NaN

   Zuidwest-Afrika  Zweden  Zwitserland  \
1              NaN     NaN          NaN
2              NaN     NaN          NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...

[2 rows x 321 columns]
                    land_nld                 l10_abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                   TOTALPOP              L1_TOTALPOP
4                      Aruba                  L10_ABW
..                       ...                      ...
344        NOT_MOBILE_ADULTS     L5_NOT_MOBILE_ADULTS
345                  ELDERLY               L6_ELDERLY
346               IMMIGRANTS            L7_IMMIGRANTS
347       EU_EFTA_IMMIGRANTS         L8_EU_IMMIGRANTS
348   NON_EU_EFTA_IMMIGRANTS      L9_NONEU_IMMIGRANTS

                   continent                           region  \
0    grid_geometry_epsg28992          grid_geometry_epsg28992
1     grid_geometry_epsg3035           grid_geometry_epsg3035
2                    grid_id                          grid_id
3                        NaN                              NaN
4                   Americas  Latin America and the Caribbean
..                       ...                              ...
344                      NaN                              NaN
345                      NaN                              NaN
346                      NaN                              NaN
347                      NaN                              NaN
348                      NaN                              NaN

                      status                     abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                 TOTALPOP
4                        yes                      ABW
..                       ...                      ...
344                      NaN        NOT_MOBILE_ADULTS
345                      NaN                  ELDERLY
346                      NaN               IMMIGRANTS
347                      NaN            EU_IMMIGRANTS
348                      NaN         NONEU_IMMIGRANTS

                     country                       eu
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                      NaN
4                      Aruba                       no
..                       ...                      ...
344                      NaN                      NaN
345                      NaN                      NaN
346                      NaN                      NaN
347                      NaN                      NaN
348                      NaN                      NaN

[349 rows x 8 columns]
   grid_id  L1_TOTALPOP  L2_CHILDREN  L3_STUDENTS  L4_MOBILE_ADULTS  \
1     3267            1            0            0                 0
2     3455            2            0            0                 0
3     3456            4            2            0                 0
4     4393            2            0            0                 1

   L5_NOT_MOBILE_ADULTS  L6_ELDERLY  L7_IMMIGRANTS  L8_EU_IMMIGRANTS  \
1                     1           0              0                 0
2                     0           2              0                 0
3                     2           0              0                 0
4                     1           0              1                 1

   L9_NONEU_IMMIGRANTS  ...  L10_ZWE  L10_ZAF  L30_YEM_YEM  L10_KOR  \
1                    0  ...      NaN      NaN          NaN      NaN
2                    0  ...      NaN      NaN          NaN      NaN
3                    0  ...      NaN      NaN          NaN      NaN
4                    1  ...      NaN      NaN          NaN      NaN

   L30_STH_RHO  L30_STH_VNM  L30_DEU_NAM  L10_SWE  L10_CHE  \
1          NaN          NaN          NaN      NaN      NaN
2          NaN          NaN          NaN      NaN      NaN
3          NaN          NaN          NaN      NaN      NaN
4          NaN          NaN          NaN      NaN      NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...
3  MULTIPOLYGON (((3963800 3267500, 3963900 32675...
4  MULTIPOLYGON (((3964300 3268800, 3964400 32688...

[4 rows x 321 columns]
------------------------------ Creating xlsx:2014 ------------------------------
   grid_id  TOTALPOP  CHILDREN  STUDENTS  MOBILE_ADULTS  NOT_MOBILE_ADULTS  \
1     3267         1         0         0              0                  1
2     3455         1         0         0              0                  0

   ELDERLY  IMMIGRANTS  EU_EFTA_IMMIGRANTS  NON_EU_EFTA_IMMIGRANTS  ...  \
1        0           0                   0                       0  ...
2        1           0                   0                       0  ...

   Zimbabwe  Zuid-Afrika  Zuid-Jemen  Zuid-Korea  Zuid-Rhodesië  Zuid-Vietnam  \
1       NaN          NaN         NaN         NaN            NaN           NaN
2       NaN          NaN         NaN         NaN            NaN           NaN

   Zuidwest-Afrika  Zweden  Zwitserland  \
1              NaN     NaN          NaN
2              NaN     NaN          NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...

[2 rows x 322 columns]
                    land_nld                 l10_abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                   TOTALPOP              L1_TOTALPOP
4                      Aruba                  L10_ABW
..                       ...                      ...
344        NOT_MOBILE_ADULTS     L5_NOT_MOBILE_ADULTS
345                  ELDERLY               L6_ELDERLY
346               IMMIGRANTS            L7_IMMIGRANTS
347       EU_EFTA_IMMIGRANTS         L8_EU_IMMIGRANTS
348   NON_EU_EFTA_IMMIGRANTS      L9_NONEU_IMMIGRANTS

                   continent                           region  \
0    grid_geometry_epsg28992          grid_geometry_epsg28992
1     grid_geometry_epsg3035           grid_geometry_epsg3035
2                    grid_id                          grid_id
3                        NaN                              NaN
4                   Americas  Latin America and the Caribbean
..                       ...                              ...
344                      NaN                              NaN
345                      NaN                              NaN
346                      NaN                              NaN
347                      NaN                              NaN
348                      NaN                              NaN

                      status                     abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                 TOTALPOP
4                        yes                      ABW
..                       ...                      ...
344                      NaN        NOT_MOBILE_ADULTS
345                      NaN                  ELDERLY
346                      NaN               IMMIGRANTS
347                      NaN            EU_IMMIGRANTS
348                      NaN         NONEU_IMMIGRANTS

                     country                       eu
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                      NaN
4                      Aruba                       no
..                       ...                      ...
344                      NaN                      NaN
345                      NaN                      NaN
346                      NaN                      NaN
347                      NaN                      NaN
348                      NaN                      NaN

[349 rows x 8 columns]
   grid_id  L1_TOTALPOP  L2_CHILDREN  L3_STUDENTS  L4_MOBILE_ADULTS  \
1     3267            1            0            0                 0
2     3455            1            0            0                 0
3     3456            4            1            1                 0
4     4393            1            0            0                 0

   L5_NOT_MOBILE_ADULTS  L6_ELDERLY  L7_IMMIGRANTS  L8_EU_IMMIGRANTS  \
1                     1           0              0                 0
2                     0           1              0                 0
3                     2           0              0                 0
4                     1           0              0                 0

   L9_NONEU_IMMIGRANTS  ...  L10_ZWE  L10_ZAF  L30_YEM_YEM  L10_KOR  \
1                    0  ...      NaN      NaN          NaN      NaN
2                    0  ...      NaN      NaN          NaN      NaN
3                    0  ...      NaN      NaN          NaN      NaN
4                    1  ...      NaN      NaN          NaN      NaN

   L30_STH_RHO  L30_STH_VNM  L30_DEU_NAM  L10_SWE  L10_CHE  \
1          NaN          NaN          NaN      NaN      NaN
2          NaN          NaN          NaN      NaN      NaN
3          NaN          NaN          NaN      NaN      NaN
4          NaN          NaN          NaN      NaN      NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...
3  MULTIPOLYGON (((3963800 3267500, 3963900 32675...
4  MULTIPOLYGON (((3964300 3268800, 3964400 32688...

[4 rows x 322 columns]
------------------------------ Creating xlsx:2016 ------------------------------
   grid_id  TOTALPOP  CHILDREN  STUDENTS  MOBILE_ADULTS  NOT_MOBILE_ADULTS  \
1     3267         1         0         0              0                  0
2     3455         1         0         0              0                  0

   ELDERLY  IMMIGRANTS  EU_EFTA_IMMIGRANTS  NON_EU_EFTA_IMMIGRANTS  ...  \
1        1           0                   0                       0  ...
2        1           0                   0                       0  ...

   Zuid-Afrika  Zuid-Jemen  Zuid-Korea  Zuid-Rhodesië  Zuid-Soedan  \
1          NaN         NaN         NaN            NaN          NaN
2          NaN         NaN         NaN            NaN          NaN

   Zuid-Vietnam  Zuidwest-Afrika  Zweden  Zwitserland  \
1           NaN              NaN     NaN          NaN
2           NaN              NaN     NaN          NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...

[2 rows x 327 columns]
                    land_nld                 l10_abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                   TOTALPOP              L1_TOTALPOP
4                      Aruba                  L10_ABW
..                       ...                      ...
344        NOT_MOBILE_ADULTS     L5_NOT_MOBILE_ADULTS
345                  ELDERLY               L6_ELDERLY
346               IMMIGRANTS            L7_IMMIGRANTS
347       EU_EFTA_IMMIGRANTS         L8_EU_IMMIGRANTS
348   NON_EU_EFTA_IMMIGRANTS      L9_NONEU_IMMIGRANTS

                   continent                           region  \
0    grid_geometry_epsg28992          grid_geometry_epsg28992
1     grid_geometry_epsg3035           grid_geometry_epsg3035
2                    grid_id                          grid_id
3                        NaN                              NaN
4                   Americas  Latin America and the Caribbean
..                       ...                              ...
344                      NaN                              NaN
345                      NaN                              NaN
346                      NaN                              NaN
347                      NaN                              NaN
348                      NaN                              NaN

                      status                     abbr  \
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                 TOTALPOP
4                        yes                      ABW
..                       ...                      ...
344                      NaN        NOT_MOBILE_ADULTS
345                      NaN                  ELDERLY
346                      NaN               IMMIGRANTS
347                      NaN            EU_IMMIGRANTS
348                      NaN         NONEU_IMMIGRANTS

                     country                       eu
0    grid_geometry_epsg28992  grid_geometry_epsg28992
1     grid_geometry_epsg3035   grid_geometry_epsg3035
2                    grid_id                  grid_id
3                        NaN                      NaN
4                      Aruba                       no
..                       ...                      ...
344                      NaN                      NaN
345                      NaN                      NaN
346                      NaN                      NaN
347                      NaN                      NaN
348                      NaN                      NaN

[349 rows x 8 columns]
   grid_id  L1_TOTALPOP  L2_CHILDREN  L3_STUDENTS  L4_MOBILE_ADULTS  \
1     3267            1            0            0                 0
2     3455            1            0            0                 0
3     3456            4            1            1                 0
4     4439            2            0            0                 0

   L5_NOT_MOBILE_ADULTS  L6_ELDERLY  L7_IMMIGRANTS  L8_EU_IMMIGRANTS  \
1                     0           1              0                 0
2                     0           1              0                 0
3                     2           0              0                 0
4                     0           2              0                 0

   L9_NONEU_IMMIGRANTS  ...  L10_ZAF  L30_YEM_YEM  L10_KOR  L30_STH_RHO  \
1                    0  ...      NaN          NaN      NaN          NaN
2                    0  ...      NaN          NaN      NaN          NaN
3                    0  ...      NaN          NaN      NaN          NaN
4                    0  ...      NaN          NaN      NaN          NaN

   L10_SSD  L30_STH_VNM  L30_DEU_NAM  L10_SWE  L10_CHE  \
1      NaN          NaN          NaN      NaN      NaN
2      NaN          NaN          NaN      NaN      NaN
3      NaN          NaN          NaN      NaN      NaN
4      NaN          NaN          NaN      NaN      NaN

                              grid_geometry_epsg3035
1  MULTIPOLYGON (((3963700 3267400, 3963800 32674...
2  MULTIPOLYGON (((3963800 3267600, 3963900 32676...
3  MULTIPOLYGON (((3963800 3267500, 3963900 32675...
4  MULTIPOLYGON (((3964300 3264200, 3964400 32642...

[4 rows x 327 columns]
------------------------------ Creating xlsx:2018 ------------------------------

### 5. Rename the attributes based on DST & ISO abbreviations for the sum file

In [100]:
sum_df = pd.read_excel(ancillary_POPdata_folder_path + "/EXCEL/sum.xlsx", header=0)

#Remove the standard columns from the unique Attributes and write file
removeColList = empty['EmptyEntries'].to_list() 
ldf = [x for x in sum_df.columns if not x in removeColList]
lframe = pd.DataFrame(sum_df, columns=ldf)

code_path = ancillary_POPdata_folder_path + "/EXCEL/codes.xlsx"
codes = pd.read_excel(code_path, header=0)

#Rename columns
sumDF = lframe.rename(columns=codes.set_index('land_nld')['l10_abbr'])

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(ancillary_POPdata_folder_path + "/EXCEL/sumNew.xlsx",  index = False,  header=True)
# Convert the dataframe to an XlsxWriter Excel object.
sumDF.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()